:root {
  --color1: #0994a4;
  --color2: #87CEEB;
  --light: #F5F5F5;
  --bckgrnd: #1E1E24;
}

* {
  box-sizing: border-box;
  font-family: "Outfit";
}

html {
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bckgrnd);
  margin: 0;
  top: 0;
  left: 0;
  width: 100vw;
}

h1 {
  color: var(--color2);
  font-size: clamp(3.5rem, 7vw, 8rem);
  text-align: center;
}

h2 {
  color: var(--color2);
  font-size: clamp(2.5rem, 10vw, 4.5rem);
}

/* LOADSCREEN */
.loadscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: var(--bckgrnd);
}
.loadscreen .loadbutton {
  font-size: 0.4rem;
  height: 6rem;
  width: 10rem;
  transition: all 0.3s ease;
}
.loadscreen .loadbutton:hover {
  cursor: pointer;
  color: var(--bckgrnd);
  background-color: var(--color1);
}

.loadscreenToMainscreen {
  animation: loadscreen 0.7s ease-out forwards;
}

.Navbar {
  position: fixed;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  height: 80px;
  border-radius: 13px;
  border: solid 2px var(--color1);
  margin: 1rem;
  top: 0;
  left: 0;
  width: calc(100vw - 2rem);
  z-index: 5;
  padding: 5px 10vw;
  box-shadow: 0 0 7px var(--color2);
}
.Navbar h1 {
  color: var(--color1);
  font-size: 45px;
}

ul {
  list-style: none;
  display: flex;
  gap: 5vw;
  color: var(--color1);
  font-size: 30px;
}
ul li {
  position: relative;
  transition: all 0.4s ease;
}
ul li:hover {
  color: var(--light);
}
ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 100%;
  width: 0;
  height: 2px;
  background-color: var(--light);
}
ul li:hover::after {
  animation: hoveranim1 0.3s ease forwards;
  background-color: var(--color1);
}
ul li:not(:hover)::after {
  animation: hoveranim1rev 0.3s ease forwards;
}
ul a {
  text-decoration: none;
  color: inherit;
}

/* ANIMATIONS */
@keyframes hoveranim1 {
  from {
    translate: 0 0;
    bottom: 0;
    left: 0;
    width: 0;
  }
  to {
    translate: 0 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
@keyframes hoveranim1rev {
  from {
    translate: 0 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  to {
    translate: 0 0;
    bottom: 0;
    left: 100%;
    width: 0;
  }
}
@keyframes loadscreen {
  0% {
    scale: 1;
  }
  20% {
    scale: 1000%;
    opacity: 0.5;
  }
  100% {
    scale: 5000%;
    opacity: 0;
    display: none;
  }
}
.sect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
  gap: 30px;
  margin: 3rem 0;
  padding-left: 15vw;
  padding-right: 15vw;
  color: var(--light);
}
.sect p {
  font-size: 1.6rem;
  margin-right: 15vw;
  margin-left: 15vw;
  text-align: justify;
}

.contact {
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 5.5rem;
}
.contact a {
  text-decoration: none;
}
.contact button {
  display: flex;
  height: 5rem;
  width: 13rem;
  background-color: var(--color1);
  color: var(--light);
  border-radius: 10px;
  border: none;
  font-size: 2rem;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  align-content: center;
  transition: all 0.3s ease;
}
.contact button:hover {
  cursor: pointer;
  background-color: var(--light);
  color: var(--color1);
  scale: 1.1;
}
.contact button img {
  height: 2.5rem;
  width: 2.5rem;
  align-items: center;
}
.contact button p {
  text-align: center;
  margin: 0;
  padding: 0;
  align-items: center;
  font-family: "Outfit";
}

/* Device Adjustments */
@media screen and (max-width: 600px) {
  body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
  }
  body p {
    font-size: 1.5rem;
  }
  .Navbar {
    justify-content: center;
  }
  .Navbar h1 {
    display: none;
  }
  .Navbar ul {
    justify-content: center;
    width: calc(100vw - 2rem);
    padding-left: 0;
  }
}
@media screen and (max-width: 720px) {
  .sect {
    padding: 0;
  }
}
@media screen and (max-width: 450px) {
  .sect {
    margin-bottom: 20vh;
  }
}/*# sourceMappingURL=style.css.map */